{% extends "index.html" %} {% block body %}
<body>
  <h1>Editar formulario</h1>

  <form action="/administrador/editar/" method="POST">
    {% csrf_token %}
    <input
      type="text"
      name="txtcedula"
      value="{{usuario.profile.bio}}"
      placeholder="cedula"
      required
    />
    <input
      type="text"
      name="txtname"
      value="{{usuario.username}}"
      placeholder="nombre"
      required
    />
    <input value="{{usuario.id}}" hidden name="id" />

    <button type="submit">Guardar</button>
  </form>
</body>

{% endblock %}
