{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- <div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Dashboard</h4>

   
    <main class="min-h-screen w-full bg-gray-100 text-gray-700" x-data="layout">
      
      <header
        class="flex w-full items-center justify-between border-b-2 border-gray-200 bg-white p-2"
      >
      
        <div class="flex items-center space-x-2">
          <button
            type="button"
            class="text-3xl"
            @click="asideOpen = !asideOpen"
          >
            <i class="bx bx-menu"></i>
          </button>
          <div>MODULO DE QR</div>
          <a
          href="#"
          class="flex items-center space-x-1 rounded-md px-2 py-3 hover:bg-gray-100 hover:text-blue-600"
        >
          <span class="text-2xl"><i class="bx bx-user"></i></span>
          <span>Poner mi nombre</span>
        </a>
        </div>
    </div>
</div> -->

<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <div class="row">
        <!-- Column -->
        <div class="col-md-6 col-lg-4 col-xlg-3">
            <div class="card card-hover">
                <div class="box bg-cyan text-center">
                    <h1 class="font-light text-white"><i class="mdi mdi-view-dashboard"></i></h1>
                    <h6 class="text-white">Dashboard</h6>
                </div>
            </div>
        </div>
        <!-- Column  -->
        <div class="col-md-6 col-lg-4 col-xlg-3">
            <div class="card card-hover">
                <div class="box bg-success text-center">
                    <a href="{% url 'gestion:charts' %}">
                        <h1 class="font-light text-white"><i class="mdi mdi-chart-areaspline"></i></h1>
                        <h6 class="text-white">Dashboard Estadistico</h6>
                    </a>
                </div>
            </div>
        </div>
        <!-- Column  -->
        <div class="col-md-6 col-lg-4 col-xlg-3">
            <div class="card card-hover">
                <div class="box bg-danger text-center">
                    <a href="{% url 'gestion:autent_qr' %}">
                        <h1 class="font-light text-white"><i class="mdi mdi-border-outside"></i></h1>
                        <h6 class="text-white">Autentificacion QR</h6>
                    </a>
                </div>
            </div>
        </div>
        <!-- Column  -->
        <div class="col-md-6 col-lg-4 col-xlg-3">
            <div class="card card-hover">
                <div class="box bg-info text-center">
                    <a href="{% url 'gestion:Inscripciones' %}">
                        <h1 class="font-light text-white"><i class="mdi mdi-arrow-all"></i></h1>
                        <h6 class="text-white">Inscripciones</h6>
                    </a>
                </div>
            </div>
        </div>
        <!-- Column  -->
        <div class="col-md-6 col-lg-4 col-xlg-3">
            <div class="card card-hover">
                <div class="box bg-danger text-center">
                    <a href="{% url 'gestion:event_creado' %}">
                        <h1 class="font-light text-white"><i class="mdi mdi-receipt"></i></h1>
                        <h6 class="text-white">Eventos Creados</h6>
                    </a>
                </div>
            </div>
        </div>
        <!-- Column  -->
        <div class="col-md-6 col-lg-4 col-xlg-3">
            <div class="card card-hover">
                <div class="box bg-cyan text-center">
                    <a href="{% url 'gestion:crear_evento' %}">
                        <h1 class="font-light text-white"><i class="mdi mdi-pencil"></i></h1>
                        <h6 class="text-white">Creacion de Eventos</h6>
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock content %}
      <!-- <div class="flex">
     
        <aside
          class="flex w-72 flex-col space-y-2 border-r-2 border-gray-200 bg-white p-2"
          style="height: 90.5vh"
          x-show="asideOpen"
        >
          <a
            href="/administrador/dashboard/"
            class="flex items-center space-x-1 rounded-md px-2 py-3 hover:bg-gray-100 hover:text-blue-600"
          >
            <span class="text-2xl"><i class="bx bx-home"></i></span>
            <span>Dashboard</span>
          </a>

       
          <a
            href="/logout/"
            class="flex items-center space-x-1 rounded-md px-2 py-3 hover:bg-gray-100 hover:text-blue-600"
          >
            <span class="text-2xl"><i class="bx bx-cart"></i></span>
            <span>Cerrar sesion</span>
          </a>
        </aside>

    >
        <div class="w-full p-4">{% block body %} {% endblock %}</div>
      </div>
    </main>
  </body>
</html> -->
