<div class="bg-white shadow-md rounded my-6 w-full">
    <table class="min-w-max w-full table-auto">
      <thead>
        <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
          <th class="py-3 px-6 text-left">Nombre</th>
          <th class="py-3 px-6 text-left">Correo</th>
          <th class="py-3 px-6 text-center">Telefono</th>
          <th class="py-3 px-6 text-center">Edad</th>

        </tr>
      </thead>
      <tbody class="text-gray-600 text-sm font-light">

        <tr class="border-b border-gray-200 hover:bg-gray-100">
          <td class="py-3 px-6 text-left whitespace-nowrap">
            <div class="flex items-center">
              <span class="font-medium">{{usuario.name}}</span>
            </div>
          </td>
          <td class="py-3 px-6 text-left">
            <div class="flex items-center">
              <span>{{usuario.email}}</span>
            </div>
          </td>
          <td class="py-3 px-6 text-center">
            <div class="flex items-center">
              <span>{{usuario.phone}}</span>
            </div>
          </td>
          <td class="py-3 px-6 text-center">
            <div class="flex items-center">
              <span>{{usuario.age}}</span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <form action="/">
    <button>regresar</button>
  </form>
  